<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testsdk">

    <application>
        <activity
            android:name=".finish.FinalActivity"
            android:theme="@style/Theme.PaymentSDK"
            android:exported="false" />
        <activity
            android:name=".main.PaymentMainActivity"
            android:exported="false"
            android:theme="@style/Theme.PaymentSDK" />
    </application>

</manifest>